@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-white;
        scroll-behavior: smooth;
    }
}

.outline-text-3 {
    color: white;
    text-shadow: 
        3px 3px 0 black,
        3px 3px 0 black,
        3px 3px 0 black,
        3px 3px 0 black;
}

.outline-text-2 {
    color: white;
    text-shadow: 
        2px 2px 0 black,
        2px 2px 0 black,
        2px 2px 0 black,
        2px 2px 0 black;
}

:root {
    --bg-idolStart: #146d81;
    --bg-idolEnd: #908a54;
}

/* Apply seamless gradient backgrounds to each section */

#index {
    background: linear-gradient(to bottom, var(--bg-idolStart), var(--bg-idolEnd));
}

#content {
    background: linear-gradient(to bottom, var(--bg-idolStart), var(--bg-idolEnd));
}

#daftar {
    background: linear-gradient(to bottom, var(--bg-idolStart), var(--bg-idolEnd));
}

/* #find-us {
    background: linear-gradient(to bottom, var(--bg-idolStart), var(--bg-idolEnd));
    /* background: var(--bg-idolStart) kalo mau backgroundnya no gradient */
/* Ensure each section takes up full height */
#landing,
#about-bgdc,
#kelas,
#talent-group,
#find-us {
    min-height:10vh;
    width: 100%;
}
